.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

.hiddenDiv {
    visibility: hidden;
}

#outline {
    /*overflow: scroll;*/
    /*overflow-y: hidden;*/
}

.outline {
    /*margin: 0px;*/
}