.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

.hiddenDiv {
    visibility: hidden;
}

.table tbody>tr>td.mid-align{
    vertical-align: middle;
}

.outline {
    padding-left: 20px;
    /*list-style-type: none;*/
}